{% extends "index/index.html" %}
{% block content %}
    <section class="about-section text-center">
        <table class="table table-dark table-striped">
            <thead>
            <tr>
                <th scope="col">Photo</th>
                <th scope="col">Description</th>
            </tr>
            </thead>
            <tbody>
            {% for account in accounting %}
                <tr>
                    <td><img src="{{ account.photo.url }}"></td>
                    <td>{{ account.description }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </section>
{% endblock content %}