{% extends "index/index.html" %}
{% block content %}
    <section class="about-section text-center" id="about">
        <div class="container px-4 px-lg-5">
            <table class="table table-dark table-striped">
                <thead>
                <tr>
                    <th scope="col">Photo</th>
                    <th scope="col">Description</th>
                    <th scope="col">Author</th>
                    <th scope="col">Created</th>
                </tr>
                </thead>
                <tbody>
                {% if user.is_authenticated %}
                    <button type="button" class="btn btn-success"><a href="{% url "volunteering:create_accounting" %}">Create</a>
                    </button>
                {% endif %}
                {% for account in accounting %}
                    <tr data-href="{% url "volunteering:account" account.id %}">
                        <td>{% if account.photo %}<img src="{{ account.photo.url }}">{% endif %}</td>
                        <td>{{ account.description }}</td>
                        <td><a href="{% url "core:profile" account.author.pk %}">{{ account.author.phone }}</a></td>
                        <td>{{ account.date_created }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div>
            {% if page_obj.has_previous %}
                <a href="?page={{ page_obj.previous_page_number }}">« Previous page</a>
                {% if page_obj.number > 3 %}
                    <a href="?page=1">1</a>
                    {% if page_obj.number > 4 %}
                        <span>...</span>
                    {% endif %}
                {% endif %}
            {% endif %}
            {% for num in page_obj.paginator.page_range %}
                {% if page_obj.number == num %}
                    <a href="?page={{ num }}">{{ num }}</a>
                {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                    <a href="?page={{ num }}">{{ num }}</a>
                {% endif %}
            {% endfor %}
            {% if page_obj.has_next %}
                {% if page_obj.number < page_obj.paginator.num_pages|add:'-3' %}
                    <span>...</span>
                    <a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
                {% elif page_obj.number < page_obj.paginator.num_pages|add:'-2' %}
                    <a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
                {% endif %}
                <a href="?page={{ page_obj.next_page_number }}">Next Page »</a>
            {% endif %}
        </div>
    </section>
{% endblock content %}