{% extends "index/index.html" %}
{% block content %}
    <section class="about-section text-center">
        <table class="table table-dark table-striped">
            <thead>
            <tr>
                <th scope="col">Title</th>
                <th scope="col">Description</th>
                <th scope="col">Photo</th>
                <th scope="col">Price</th>
                <th scope="col">Donation</th>
                <th scope="col">Category</th>
                <th scope="col">City</th>
                <th scope="col">Author</th>
            </tr>
            </thead>
            <tbody>
            {% for need in needs %}
                <tr>
                    <td>{{ need.title }}</td>
                    <td>{{ need.description }}</td>
                    <td>{% if need.photo %}<img src="{{ need.photo.url }}" height="100vh">{% endif %}</td>
                    <td>{{ need.price }}</td>
                    <td>{{ need.donation }}</td>
                    <td>{% for category in need.category.all %}{{ category }}<br>{% endfor %}</td>
                    <td>{{ need.city }}</td>
                    <td>
                        {% for author in need.author.all %}
                            {% if author.phone %}
                                <a href="{% url "core:profile" author.pk %}">{{ author.phone }}</a>
                            {% elif author.email %}
                                <a href="{% url "core:profile" author.pk %}">{{ author.email }}</a>
                            {% elif author.username %}
                                <a href="{% url "core:profile" author.pk %}">{{ author.username }}</a>
                            {% endif %}
                            <br>
                        {% endfor %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </section>
{% endblock content %}