{% extends "index/index.html" %}
{% block content %}
    <section class="about-section text-center">
        <table class="table table-dark table-striped">
            <thead>
            <tr>
                <th scope="col">Title</th>
                <th scope="col">Description</th>
                <th scope="col">Photo</th>
                <th scope="col">Category</th>
                <th scope="col">City</th>
                <th scope="col">Author</th>
            </tr>
            </thead>
            <tbody>
            {% for opportunity in opportunities %}
                <tr>
                    <td>{{ opportunity.title }}</td>
                    <td>{{ opportunity.description }}</td>
                    <td><img src="{{ opportunity.photo.url }}"></td>
                    <td>{% for category in opportunity.category.all %}{{ category }}<br>{% endfor %}</td>
                    <td>{{ opportunity.city }}</td>
                    <td>{{ author }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </section>
{% endblock content %}